[submodule "projects/palindrome-checker"]
	path = projects/palindrome-checker
	url = https://github.com/b0chard/palindrome-checker.git
[submodule "projects/roman-numeral-converter"]
	path = projects/roman-numeral-converter
	url = https://github.com/b0chard/roman-numeral-converter.git
[submodule "projects/temperature-converter"]
	path = projects/temperature-converter
	url = https://github.com/b0chard/temperature-converter.git
[submodule "projects/drum-ka-dum"]
	path = projects/drum-ka-dum
	url = https://github.com/b0chard/drum-ka-dum.git
[submodule "projects/simple-cash-register"]
	path = projects/simple-cash-register
	url = https://github.com/b0chard/simple-cash-register.git
[submodule "memories/maia-18th-bday"]
	path = memories/maia-18th-bday
	url = https://github.com/b0chard/happy-18th-birthday-maia.git
[submodule "projects/basic-calc"]
	path = projects/basic-calc
	url = https://github.com/b0chard/basic-calc.git
[submodule "projects/signup-login-system"]
	path = projects/signup-login-system
	url = https://github.com/b0chard/signup-login-system.git
[submodule "works-tmp/temperature-converter"]
	path = works-tmp/temperature-converter
	url = git@github.com:b0chard/temperature-converter.git
[submodule "works-tmp/roman-numeral-converter"]
	path = works-tmp/roman-numeral-converter
	url = git@github.com:b0chard/roman-numeral-converter.git
[submodule "works-tmp/palindrome-checker"]
	path = works-tmp/palindrome-checker
	url = git@github.com:b0chard/palindrome-checker.git
