section {
  margin-top: 40px;
}
.sectiontitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.projectstable {
  width: 100%;
  margin: 0 auto;
}
.projectstable, th, td {
  border: 1px solid #000000;
}
th, td {
  font-size: 18px;
  padding: 6px;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 200px;
}
