*, ::before, ::after {
  box-sizing: border-box;
}
html {
  background-image: url(/images/backgrounds/backgroundclouds.gif);
  background-position: center;
}
body {
  font-family: serif;
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  height: 100%;
}
main {
  background-image: url(/images/backgrounds/bg-canvas.gif);
  background-repeat: repeat;
  background-position: center;
  border: 7px outset #000000;
  border-radius: 8px;
  padding: 20px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 200px;
}
a {
  text-decoration: none;
}
.page-title {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 500px;
}